name: core-service CI

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - "services/core-service/**"
      - "helm/core-service/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: login to azure
        uses: azure/login@v2
        with:
          creds: |
            {
             "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
             "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
             "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
             "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: login to ACR
        uses: docker/login-action@v3
        with:
          registry: devopsacr3755.azurecr.io
          username: ${{ secrets.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: extract git SHA
        id: vars
        run: echo "SHA=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: build and push image
        run: |
          docker build -t devopsacr3755.azurecr.io/core-service:latest ./services/core-service
          docker push devopsacr3755.azurecr.io/core-service:latest
