name: frontend CI

permissions:
  contents: write

on:
  push:
    branches:
      - main
      - staging
      - prod
    paths:
      - "services/frontend/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: login to azure
        uses: azure/login@v2
        with:
          creds: |
            {
             "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
             "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
             "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
             "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: login to ACR
        uses: docker/login-action@v3
        with:
          registry: devopsacr24319.azurecr.io
          username: ${{ secrets.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: build and push image
        run: |
          docker build -t devopsacr24319.azurecr.io/frontend:latest ./services/frontend
          docker push devopsacr24319.azurecr.io/frontend:latest
