name: frontend CI

permissions:
    contents: write

on:
    push:
        branches:
            - main
        paths:
            - "services/frontend/**"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: login to azure
              uses: azure/login@v2
              with:
                  creds: |
                      {
                       "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
                       "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
                       "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
                       "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
                      }

            - name: login to ACR
              uses: docker/login-action@v3
              with:
                  registry: devopsacr26349.azurecr.io
                  username: ${{ secrets.AZURE_CLIENT_ID }}
                  password: ${{ secrets.AZURE_CLIENT_SECRET }}

            - name: extract git SHA
              id: vars
              run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

            - name: build and push image
              run: |
                  docker build -t devopsacr26349.azurecr.io/frontend:${{ steps.vars.outputs.SHA }} ./services/frontend
                  docker push devopsacr26349.azurecr.io/frontend:${{ steps.vars.outputs.SHA }}

            - name: commit and push changes
              run: |
                  git config user.email "github-actions@github.com"
                  git config user.name "github-actions"
                  git pull origin main --rebase
                  sed -i "s/tag: .*/tag: \"${{ steps.vars.outputs.SHA }}\"/" helm/frontend/values-dev.yaml
                  git add helm/frontend/values-dev.yaml
                  git diff --cached --quiet || git commit -m "Update frontend image tag to ${{ steps.vars.outputs.SHA }}"
                  git push origin main
