name: auth-service CI

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - "services/auth-service/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Git SHA
        id: vars
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./services/auth-service
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/auth-service:${{ steps.vars.outputs.SHA }}

      - name: Update helm values.yaml with new tag
        run: |
          sed -i "s/tag:.*/tag: \"${{ steps.vars.outputs.SHA }}\"/" helm/auth-service/values.yaml

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/auth-service/values.yaml
          git commit -m "ci: update image tag to ${{ steps.vars.outputs.SHA }}"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main
