name: auth-service CI

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - "services/auth-service/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: login to azure
        uses: azure/login@v2
        with:
          creds: |
            {
             "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
             "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
             "tenantId": "${{ secrets.AZURE_TENANT_ID }}",
             "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: login to acr
        run: az acr login --name devopsacr2962

      - name: extract git SHA
        id: vars
        run: echo "SHA=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: build and push image
        run: |
          docker build -t devopsacr2962.azurecr.io/auth-service:${{ steps.vars.outputs.SHA }} ./services/auth-service
          docker push devopsacr2962.azurecr.io/auth-service:${{ steps.vars.outputs.SHA }}
